body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: none;
  overflow: hidden;
  background-color: var(--theme-color);
}

#garden-plot-container {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 70%;
    width: 80%;
    display: grid;
    background-image: url('../assets/Empty-grass-plot.png');
    background-repeat: repeat;
}